.heroes{
    margin: 0 0 2em 0;
    padding: 0;
    list-style-type:none;
    width: 15em;
}
.heroes li{
    display: flex;
}
.heroes a{
    flex: 1;
    cursor: pointer;
    position: relative; left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 0;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 1.8em;
    text-decoration: none;
    color: white;
    background-color: rgb(130, 86, 86);
}
.heroes a:hover{
    color: black;
    background-color: #e6e6e6;
    left: 1em;
}
.heroes a:active{
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
}
.heroes a.selected{
    color: white;
    background-color: black;
}
.heroes a.selected:hover{
    background-color: #6e2a2a;
    color: white;
}
.heroes a.selected:active{
    background-color: black;
    color: white;
}
.heroes .id{
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #405061;
    line-height: 1em;
    margin-right: 1em;
    border-radius: 4px 0 0 4px;

}
.heroes .name {
    align-self: center;
  }